{% extends 'main.html' %} {%load static %} {% block content %}
{% include 'sub_nav.html' %}

<div class="card">
  <div class="col-lg-12 pt-3 pb-8">
    <div class="card-style mb-30">
      <div
        class="title d-flex flex-wrap justify-content-between align-items-center"
      >
        <div class="left pb-2 ps-2">
          <h6 class="text-medium mb-30">
            Items
            <span class="badge bg-primary rounded-pill">{{ items.count }}</span>
          </h6>
        </div>
          <div class="right pe-4">
              <a class="btn btn-primary" href="{% url 'create_item' %}">Add</a>
          </div>
        <div class="right pe-4">
          <div class="select-style-1">
            <div class="select-position select-sm">
              <select class="light-bg">
                <option value="">Yearly</option>
                <option value="">Monthly</option>
                <option value="">Weekly</option>
              </select>
            </div>
          </div>
          <!-- end select -->
        </div>
      </div>
      <!-- End Title -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>
                <h6 class="text-sm text-medium">Actions</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Item Id</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">UPC/EAN/ISBN</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Name</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Category</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Cost Price</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Selling Price</h6>
              </th>
              <th class="min-width">
                <h6 class="text-sm text-medium">Quantity</h6>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in items %}

            <tr>
              <td>
                <div class="check-input-primary">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkbox-1"
                  />
                </div>
              </td>
              <td>
                <div class="action">
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <a
                      type="button"
                      class="btn btn-light"
                      href="{% url 'update_item' item.item_id %}"
                    >
                      Edit
                    </a>
                    <button
                      class="btn btn-light"
                      id="moreAction1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="moreAction1"
                    >
                      <li class="dropdown-item">
                        <a href="#0" class="text-gray">Remove</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="#0" class="text-gray">Edit</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-sm">{{ item.item_id }}</p>
              </td>
              <td>
                <p class="text-sm">{{ item.item_number | default:"" }}</p>
              </td>
              <td>
                <p class="text-sm">{{ item.name | default:"" }}</p>
              </td>
              <td>
                <p class="text-sm">{{ item.category.name | default:"" }}</p>
              </td>
              <td>
                <p class="text-sm">{{ currency }} {{ item.cost_price |floatformat:2 | default:"" }}</p>
              </td>
              <td>
                <p class="text-sm">{{ currency }} {{ item.unit_price |floatformat:2 | default:""}}</p>
              </td>
              <td>
                <p class="text-sm">{{ item.default_quantity | default:"Not Set"  }}</p>
              </td>
              <td>
                <div class="product">
                  <div class="image">
                    <img src="{% static 'images/m19.jpeg ' %}" alt="" />
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- End Table -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

