{% extends 'main.html' %} {%load static %} {% block content %}

<div class="row">
  <!-- Card -->
  <div class="col-xl-3 col-md-6 mb-4" 
      style="cursor: pointer">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Total Sales
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">40</div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-cart-shopping fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-xl-3 col-md-6 mb-4" 
      style="cursor: pointer">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Customers
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-people-group fa-2x text-gray-300"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-xl-3 col-md-6 mb-4" 
      style="cursor: pointer">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-info text-uppercase mb-1"
            >
              Total Items
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">155</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-hard-drive fa-2x text-gray-300"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card -->
  <div class="col-xl-3 col-md-6 mb-4" 
      style="cursor: pointer">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Total Item Kits
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-open fa-2x text-gray-300"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-6 mb-4"  
      style="cursor: pointer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">
            <i class="fa-solid fa-cart-shopping"></i>  |
            Start a New Sale
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4"  
      style="cursor: pointer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">
            <i class="fa-solid fa-cloud-arrow-down"> </i>  |
            Start a New Receiving
          </h5>
        </div>
      </div>
    </div>
       <div class="col-lg-6 mb-4"  
      style="cursor: pointer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">
            <i class="fa-solid fa-clock"></i>  |
            Today's closeout report
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4"  
      style="cursor: pointer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">
            <i class="fa-solid fa-clock"></i>  |
            Today's detailed sales report
          </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4"  
      style="cursor: pointer">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">
            <i class="fa-solid fa-chart-simple"> </i> |
            Today's summary items report
          </h5>
        </div> 
      </div>
    </div>

  </div>




{% endblock content %}
