<div class="filters nav-top mb-4">
  <nav class="navbar navbar-light bg-light static-top shadow justify-content-between pr-5">
    <div class="filter"></div>
    <div class="buttons mr-5">
      <div class="Row">
        <button class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
          New Item
        </button>

        <button class="nav-item dropdown">
          <a class="nav-link" href="#" id="options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="options">
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-circle-plus"></i>
              Add New Item
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-newspaper"></i>
              Count Damage Inventory
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-newspaper"></i>
              Count Inventory
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-circle-down"></i>
              Excel Import
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-circle-arrow-up"></i>
              Excel Export
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-print"></i>
              Inventory Print List
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-print"></i>
              Inventory Print List Summary
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-rotate-left"></i>
              Clean Old Items
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-screwdriver-wrench"></i>
              Custom Field Configuration
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-trash-can"></i>
              Manage Deleted Items
            </a>
            <div class="dropdown-divider"></div>
          </div>
        </button>
      </div>
    </div>
  </nav>
</div>
